@model WebPreisBerechnungAuB.Models.ViewModel.PriceTableVM

@{
    ViewData["Title"] = "Index";
    var model = Model;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<form asp-action="UpdatePrice" method="POST">
    <label for="percent">Prozente</label>
    <input type="text" asp-for="PriceUpdatePercent" placeholder="10" />
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().NumberColors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().Texil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTableList.FirstOrDefault().PriceUpdatePercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PriceTableList)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.NumberColors.ColorName
                </td>
                <td>
                    @item.Texil.TextilName
                </td>
                <td>
                    von @item.Range.RangeFrom bis @item.Range.RangeTo
                </td>
                <td>
                    @item.Price
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
