@model IEnumerable<WebPreisBerechnungAuB.Models.Logo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceWidht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceHight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoSurfaceSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerScreen )
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isLogoStorage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LogoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfaceWidht)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfaceHight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogoSurfaceSize)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerScreen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isLogoStorage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
