@model WebPreisBerechnungAuB.Models.Article

@{
    ViewData["Title"] = "DetailSite";
}



<div>
    <h4>Artikel</h4>
    <br />

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <img src="/img/webbilder_70x90/@(Model.CatalogNr).jpg" class="card-img-top" alt="...">

                </div>
                <div class="col-sm-8">

                    <h2 style="display: inline-block;">@Model.Name</h2>
                    <div id="detailsTabs" class="product-details-tablist-container">
                    </div>

                    <br />


                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Beschreibung</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#information" role="tab" aria-controls="information" aria-selected="false">Informationen</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">

                            <div class="tab-content mt-3">
                                <div class="tab-pane active" id="description" role="tabpanel">

                                    <ul class="list-group list-group-flush">



                                        @{
                                            foreach (var item in Model.Descriptions)
                                            {
                                                <li class="list-group-item">
                                                    <h6>@item</h6>

                                                </li>



                                            }
                                        }

                                    </ul>
                                </div>

                                <div class="tab-pane" id="information" role="tabpanel" aria-labelledby="information-tab">


                                    <ul class="list-group list-group-flush">



                                        @{
                                            foreach (var item in Model.Attributes)
                                            {
                                                <li class="list-group-item">
                                                    <h6>@item.NameOfAttribute &emsp; @item.Text</h6>
                                                </li>



                                            }
                                        }

                                    </ul>


                                </div>


                            </div>
                        </div>
                    </div>

                </div>





            </div>

            <br />

            <p class="text-center"><strong>Bitte wählen Sie eine Farbe aus.</strong></p>

            <div class="row">

                <div class="container">

                    <ul style=" flex-wrap: wrap;" class="list-group list-group-horizontal">
                        @*                 <button onclick="jQueryAjaxLoadSizes('test')">

                        Test
                        </button>*@

                        @foreach (var item in @Model.ArticleColors)
                        {
                            <li style="display: inline-block; vertical-align: top;width: 10%; margin-left: 2%;" class="list-item">

                                <a href="#" onclick="jQueryAjaxLoadSizes('@item.Name','@Model.CatalogNr')">


                                    <div style="display: table; width: 100% ;background: @item.HexColor; height: 50px;" class="field">
                                        <span style="background: #253E33;"></span>
                                    </div>
                                </a>


                                <div style="white-space: normal;color: gray;text-align: left;padding-left: 0;line-height: 1.4em;display: inline-block;" class="label">
                                    @item.Name
                                </div>

                            </li>

                        }


                    </ul>

                </div>



                <div class="container">


                    <br />
                    <br />

                    <div class="text-center">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Color</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Lagerstand</th>
                                    <th scope="col">Gewicht</th>

                                </tr>

                            </thead>

                            <tbody id="tableRow">


                            </tbody>


                        </table>
                    </div>

                </div>


            </div>

        </div>


    </div>


</div>


